@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gallery {
  --gap: clamp(1rem, 5vmin, 2rem);
  columns: 300px;
  gap: var(--gap);
  width: 96%;
  max-width: 960px;
  margin: 5rem auto;
}

.gallery > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}